<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="shortcut icon" href="favicon.ico">
	<link href="/static//hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
	<link href="/static//hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
	<!-- Data Tables -->
	<link href="/static//hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
	<link href="/static//hplus/css/animate.min.css" rel="stylesheet">
	<link href="/static//hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link href="/static//hplus/css/clothes.css" rel="stylesheet">
	<link href="/static//hplus/css/check.css" rel="stylesheet">
	
	<script src="/static//hplus/js/jquery.min.js?v=2.1.4"></script>
	<script src="/static//hplus/js/bootstrap.min.js?v=3.3.6"></script>
	<script src="/static//hplus/js/plugins/jeditable/jquery.jeditable.js"></script>
	<script src="/static//hplus/js/plugins/dataTables/jquery.dataTables.js"></script>
	<script src="/static//hplus/js/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script src="/static//hplus/js/content.min.js?v=1.0.0"></script>
	<script src="/static/layer/layer.js"></script>
	<script src="/static/nice-validator/jquery.validator.js?local=zh-CN"></script>
	<script src="/static/laydate/laydate.js"></script>
	<script src="/static/custom/tableUtils.js"></script>

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            抱歉，页面好像去火星了~
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="请输入您需要查找的内容 …">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    <!-- 全局js -->
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>

    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <!--统计代码，可删除-->

</body>

</html>
