{% extends "./base_toAdd.html" %}
{% block form_top %}
{% endblock %}
{% block form %}
 <div class="onedetail-box" id="Onedetailbox">
 	<div class="content-box">
 		<div class="list-box flex-box">
 			<div class="desc">品牌名称:</div>
 			<input class="input-w" type="text" value="{{clothesonedata.name}}" />
 		</div>
 		<div class="list-box flex-box">
 			<div class="desc">所属大类:</div>
 			<select class="select-w">
 				{% for item in allclothesdata %}
 				 {% if item.id == clothesonedata.pid %}
 				<option value="{{item.id}}" selected="selected">{{item.name}}</option>
 				 {% else %}
 				 <option value="{{item.id}}">{{item.name}}</option>
 				 {% endif %}
 				{% endfor %}
 			</select>
 		</div>
 	</div>
 </div>
{% endblock %}
{% block form_submit %}
<div class="btn-box-comm flex-box-center">
	<div class="btn btn-primary btn-xs" data-id="{{clothesonedata.id}}" onclick="Trueupdata($(this))">提交</div>
	<div class="btn btn-default btn-xs" onclick="Closefixed()">取消</div>
</div>
<script>
	//关闭弹窗
    function Closefixed(){
    	$("#img").val("")
    	var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
    }
    //确认修改
    function Trueupdata(obj){
    	let data ={
    		id:obj.attr("data-id"),
    		pid:$("#Onedetailbox").find("select option:selected").val(),
    		name:$("#Onedetailbox").find("input").eq(0).val(),
    		type:2,
    	}
    	console.log(data)
    	if(data.name!=''){
    		$.ajax({
    		type:"post",
    		url:"updataclothes",
    		async:true,
    		data:data,
    		success:function(data){
    			if(data.status==0){
    				layer.msg('修改成功');
					var index = parent.layer.getFrameIndex(window.name);
					setTimeout(function(){
						parent.layer.close(index);
						window.parent.location.reload()
						}, 1000);
    			}else{
    				layer.msg(data.msg);
    			}
    		}
    	});
    	}else{
    		layer.msg('品牌名称不能为空');
    	}
    	
    }
</script>
{% endblock %}
