{% extends "./base_list.html" %}
{% block customTitle_src %}
 <div class="ibox-title">
 	<a class="clothes-abox " href="/operate/clothes/selectList">衣物类型</a>
 	<a class="clothes-abox ml10 " href="/operate/clothestype/selectList">衣物类别</a>
 	<a class="clothes-abox ml10" href="/operate/clothescolor/selectList">颜色</a>
 	<a class="clothes-abox ml10 active" href="/operate/clothesbrand/selectList">品牌</a>
 	<a class="clothes-abox ml10" href="/operate/clotheserr/selectList">瑕疵</a>
 </div>
{% endblock %}
{% block content_top %}
<div class="flex-box-enter">
		<div>&nbsp;</div>
	{% if Btn['operate/clothes/insert'] %}
	<div class="qcode-box" onclick="Lookdetail($(this),'1')"><i class="fa fa-plus" style="padding-right: 5px;"></i>新增</div>
   {% endif %}
</div>
{% endblock %}
{% block search_bt %}
{% endblock %}
{% block table_th %}
	<th>编号</th>
	<th>品牌名称</th>
	<th>所属类别</th>	
	<th>创建时间</th>
	<th>操作</th>
{% endblock %}
{% block table_body %}
{% for item in pageInfo.list %}
<tr class="gradeX">
	<td><input type="checkbox" name="ids" value="{{item.clothesParamsId}}"/></td>
	<td>{{item.clothesParamsId}}</td>
	<td>{{item.name}}</td>
	<td>{{item.fatherName}}</td>
	<td>{{item.createTime}}</td>
	<td>
		{% if Btn['operate/clothes/select'] %}
		<button type="button" class="btn btn-primary btn-xs" data-img="{{item.classAppImg}}" data-id="{{item.clothesParamsId}}" onclick="Lookdetail($(this),'2')">
				<i class="fa fa-pencil" style="padding-right: 5px;"></i>修改</button>
		{% endif %}
		{% if Btn['operate/clothes/delete'] %}
		<button type="button" class="btn btn-danger btn-xs" onclick="Deletebyid('{{item.clothesParamsId}}')">
				<i class="fa fa-trash" style="padding-right: 5px;"></i>删除</button>
		{% endif %}
	</td>
</tr>
{% endfor %}
<script>
	function Lookdetail(id){
		
	}
</script>
{% endblock %}
{% block shawbox %}
 <div class="fixed-box" id="Fixedbox">
 	<div class="tit flex-box-enter">
 		<span>添加品牌类型</span>
 		<span  class="cursor-p" onclick="Closefixed()">X</span>
 	</div>
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
				<!-- <div class="form-box ibox-content">
						<form class="form" data-validator-option="{timely:2}">
						<div class="form-item">
							<label class="desc">品牌名称</label>
							<input type="text" name="name" placeholder="请输入品牌名称"
							data-rule="required;name;" data-msg-required="请输入品牌名称">
						</div>
						<div class="form-item">
							<label class="desc">所属大类</label>
							<select name="gender" data-rule="required" data-msg-required="请选择所属大类">
								<option value="" selected="selected">请选择所属大类</option>
								{% for item in allclothesdata %}
								<option value="{{item.id}}">{{item.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-item form-button">
							<button class="btn btn-primary btn-xs" onclick="Insertdata()" type="submit">提交</button>
							<button class="btn btn-default btn-xs" onclick="Closefixed()">取消</button>
						</div>
						</form>
				</div> -->
			<div class="form-box ibox-content from">
				<div class="form-item">
					<label class="desc">品牌名称</label>
					<input type="text" name="name" placeholder="请输入品牌名称"
					data-rule="required;name;" data-msg-required="请输入品牌名称">
				</div>
				<div class="form-item">
					<label class="desc">所属大类</label>
					<select name="gender" data-rule="required" data-msg-required="请选择所属大类">
						<option value="" selected="selected">请选择所属大类</option>
						{% for item in allclothesdata %}
						<option value="{{item.id}}">{{item.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-item form-button">
					<a class="btn btn-primary btn-xs" onclick="Insertdata()" type="submit">提交</a>
					<a class="btn btn-default btn-xs" onclick="Closefixed()">取消</a>
				</div>
			</div>
		</div>
	</div>
 </div>
<script>
    function Lookdetail(obj,num){
    	if(num==1){
    		$("#Fixedbox").show()
    	}
    	if(num==2){
    		layer.open({
			  type: 2,
			  title: '添加品牌类型',
			  shadeClose: true,
			  shade: 0.8,
			  area: ['600px', '230px'],
			  content: 'selectone?id='+obj.attr("data-id") //iframe的url
			}); 
    	}
    	
    }
    //关闭弹窗
    function Closefixed(){
    	$("#img").val("")
    	$("#Fixedbox").hide()
    }
    //新增一条数据
    function Insertdata(){
    	let data ={
    		pid:$("#Fixedbox").find("select option:selected").val(),
    		name:$("#Fixedbox").find("input").eq(0).val(),
    		type:2,
    	}
    	if(data.pid!=''&&data.name!=''){
    	$.ajax({
    		type:"post",
    		url:"insertclothes",
    		async:true,
    		data:data,
    		success:function(data){
    			if(data.status==0){
    				layer.msg('新增成功');
    				$("#Fixedbox").hide()
    				setTimeout(function(){
    					window.location.reload()
    				},2000)
    			}else{

    				layer.msg(data.msg);
    			}
    		}
    	});
    	}else{
    		layer.msg('品牌名称，所属大类不能为空');
    	}
    }
    //删除单条数据
    function Deletebyid(id){
    	let data={
    		id:id,
    		type:2
    	}
        layer.confirm('您确定要删除该条衣物品牌信息？', {
		  btn: ['是的','取消'] //按钮
		}, function(){
		  $.ajax({
    		type:"post",
    		url:"deleteclothesparme",
    		async:true,
    		data:data,
    		success:function(data){
    			if(data.status==0){
    				layer.msg('删除成功');
    				setTimeout(function(){
    					window.location.reload()
    				},2000)
    			}else{
    				layer.msg(data.msg);
    			}
    		}
    	});
		}, function(){
		  console.log("取消")
		});
    	
    }
</script>
{% endblock %}