{% extends "./base_toAdd.html" %}
{% block customTitle_src %}
<div class="ibox-title">
	<h5>工厂管理</h5>
</div>
{% endblock %} 
{% block form_top %}
{% endblock %}
{% block form %}
<div class="addsmark-box" id="Addsmark">
	<div class="addsmark flex-box">
		<div class="left">姓名:</div>
		<input class="input-w" type="text" value="{{facperdata.name}}"/>
	</div>
	<div class="addsmark flex-box">
		<div class="left">员工账号:</div>
		<div class="input-w">{{facperdata.userName}}</div>
	</div>
	<div class="addsmark flex-box">
		<div class="left">手机号:</div>
		<input class="input-w" type="text" value="{{facperdata.phone}}"/>
	</div>
</div>
{% endblock %}
{% block form_submit %}
<div class="addsmark-btn-box flex-box-center">
	<div class="btn btn-primary btn-xs" data-id="{{facperdata.id}}" onclick="Trueupdata($(this))">提交</div>
	<div class="btn btn-default btn-xs" onclick="Closefixed()">取消</div>
</div>
<script>
	// 手机号判断
	function  phoneTF(data) {
	    if ((/^1[34578]\d{9}$/.test(data))) {
	      return true
	    } else {
	      return false
	    }
	  };
	//打开可选管辖柜子列表
	var groupdata={
		id:'',
		name:'',
		phone:'',
	};
	//关闭弹窗
    function Closefixed(){
    	var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
    }
    //确认修改
    function Trueupdata(obj){
    		groupdata.name=$("#Addsmark").find("input").eq(0).val();
    		groupdata.phone=$("#Addsmark").find("input").eq(1).val();
    		groupdata.id=obj.attr("data-id");
    	console.log(groupdata)
    	if(groupdata.name!=''&&phoneTF(groupdata.phone)){
			$.ajax({
	    		type:"post",
	    		url:"updatefactoryperone",
	    		async:true,
	    		data:groupdata,
	    		success:function(data){
	    			if(data.status==0){
	    				layer.msg('编辑成功');
						var index = parent.layer.getFrameIndex(window.name);
						setTimeout(function(){
							parent.layer.close(index);
							window.parent.location.reload()
							}, 1000);
	    			}else{
	    				layer.msg(data.msg);
	    			}
	    		}
	    	});    		
    	}else{
    		if(groupdata.name==''){
    			layer.msg('姓名不能为空');
    		}else{
    			layer.msg('请输入正确的手机号');
    		}
    		
    	}
    	
    }
</script>
{% endblock %}
{% block form_scr %}
{% endblock %}