{% extends "./base_toAdd.html" %}
{% block customTitle_src %}
<div class="ibox-title">
	<h5>物流管理</h5>
</div>
{% endblock %} 
{% block form_top %}
{% endblock %}
{% block form %}
<div class="form" id="Addsmark">
	<div class="form-item">
		<label class="desc">姓名</label>
		<input type="text" name="name" placeholder="请输入姓名"
		data-rule="required;name;" data-msg-required="请输入姓名">
	</div>
	<div class="form-item">
			<label class="desc">员工账号</label>
		<input type="text" name="userName" placeholder="请输入员工账号"
			data-rule="required; userName" data-msg-required="请输入员工账号">
	</div>
	<div class="form-item">
			<label class="desc">手机号</label>
		<input type="text" name="phone" placeholder="请输入手机号"
			data-rule="required; phone" data-msg-required="请输入手机号">
	</div>
	<div class="form-item">
			<label class="desc">初始密码</label>
		<input type="password" name="password" placeholder="请输入初始密码"
			data-rule="required; passWord" data-msg-required="请输入初始密码">
	</div>
	<div class="form-item form-button">
		<a class="btn btn-primary btn-xs" id="{{clothesonedata.id}}" onclick="Trueupdata($(this))">提交</a>
		<a class="btn btn-default btn-xs" onclick="Closefixed()">取消</a>
	</div>
</div>
<!-- <div class="addsmark-box" id="Addsmark">
	<div class="addsmark flex-box">
		<div class="left">姓名:</div>
		<input class="input-w" type="text"/>
	</div>
	<div class="addsmark flex-box">
		<div class="left">员工账号:</div>
		<input class="input-w" type="text"/>
	</div>
	<div class="addsmark flex-box">
		<div class="left">手机号:</div>
		<input class="input-w" type="text"/>
	</div>
	<div class="addsmark flex-box">
		<div class="left">初始密码:</div>
		<input class="input-w" type="password"/>
	</div>
	 <div class="addsmark flex-box">
		<div class="left">管辖柜子组:</div>
		<div class="logper-box">
			<div class="flex-box-enter" onclick="Opensmark($(this))">
				<span>请选择所管辖柜子组</span>
				<img src="/static/hplus/img/icon_down.png" style="width: 16px;height: 9px;" />
			</div>
			<div class="smark-box" id="Smarkbox">
				<ul>{% for item in smarkgroupdata %}
					<li class="flex-box"><input type="checkbox" name="smarkgroup" value="{{item.id}}"/>{{item.groupName}}</li>
					{% endfor %}
				</ul>
				<div class="btn-box flex-box-center" style="border-top: 1px solid #e5e5e5;">
					<div class="btn btn-primary" onclick="Truesmark()">确定</div>
				</div>
			</div>
		</div>
	</div> 
</div> -->
{% endblock %}
{% block form_submit %}
<!-- <div class="addsmark-btn-box flex-box-center">
	<div class="btn btn-success btn-xs" data-id="{{clothesonedata.id}}" onclick="Trueupdata($(this))">确认提交</div>
	<div class="btn btn-primary btn-xs" onclick="Closefixed()">取消</div>
</div> -->
<script>
	// 手机号判断
	function  phoneTF(data) {
	    if ((/^1[34578]\d{9}$/.test(data))) {
	      return true
	    } else {
	      return false
	    }
	  };
	//打开可选管辖柜子列表
	var groupdata={
		name:'',
		phone:'',
		pwd:'',
		userName:'',
		//cabinetNamelist:[]
	};
	function Opensmark(){
		if($("#Smarkbox").is(':hidden')){
			$("#Smarkbox").show()
		}else{
			$("#Smarkbox").hide()
		}
	}
	//确定管辖柜子
//	function Truesmark(){
//		groupdata.cabinetNamelist=[];
//		for(var i =0; i<$("#Smarkbox ul li").length;i++){
//			var data ={
//				id:''
//			};
//			if($("#Smarkbox ul li").eq(i).find("input").is(':checked')){
//				data.id=$("#Smarkbox ul li").eq(i).find("input").val()
//				groupdata.cabinetNamelist.push(data);
//			}
//		}
//		if(groupdata.cabinetNamelist.length !=0){
//			$("#Addsmark").find("span").eq(0).text("已选择所管辖柜子组");
//			$("#Smarkbox").hide();
//		}else{
//			$("#Addsmark").find("span").eq(0).text("请选择所管辖柜子组")
//			$("#Smarkbox").hide();
//		}
//		
//		console.log("2",groupdata.cabinetNamelist.length==0)
//	}
	//关闭弹窗
    function Closefixed(){
    	var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
    }
    //确认修改
    function Trueupdata(obj){
    		groupdata.name=$("#Addsmark").find("input").eq(0).val(),
    		groupdata.userName=$("#Addsmark").find("input").eq(1).val(),
    		groupdata.phone=$("#Addsmark").find("input").eq(2).val(),
    		groupdata.pwd=$("#Addsmark").find("input").eq(3).val(),
    	console.log(groupdata)
    	if(groupdata.name!=''&&groupdata.userName!=''&&phoneTF(groupdata.phone)&&groupdata.pwd!=''){
			$.ajax({
	    		type:"post",
	    		url:"addlogperdata",
	    		async:true,
	    		contentType: 'application/json',
	    		data: JSON.stringify(groupdata),
	    		success:function(data){
	    			if(data.status==0){
	    				layer.msg('新增成功');
						var index = parent.layer.getFrameIndex(window.name);
						setTimeout(function(){
							parent.layer.close(index);
							window.parent.location.reload()
							}, 1000);
	    			}else{
	    				layer.msg(data.msg);
	    			}
	    		}
	    	});    		
    	}else{
    		if(groupdata.name==''){
    			layer.msg('姓名不能为空');
    		}else if(groupdata.userName==''){
    			layer.msg('用户名不能为空');
    		}else if(!phoneTF(groupdata.phone)){
    			layer.msg('请输入正确的手机号');
    		}else{
    			layer.msg('密码不能为空');
    		}
    	}
    	
    }
</script>
{% endblock %}
{% block form_scr %}
{% endblock %}
