{% extends "./base_toAdd.html" %}
{% block customTitle_src %}
<div class="ibox-title">
	<h5>优惠管理</h5>
</div>
{% endblock %} 
{% block form_top %}
{% endblock %}
{% block form %}
 <div class="onedetail-box" id="Onedetailbox">
 	<div class="content-box">
        <div class="list-box flex-box insert_input">
            <div class="desc">充值金额:</div>
            <input type="number" value="{{rechargeonedata.chargeAmount}}"/>
        </div>
        <div class="list-box flex-box insert_input">
            <div class="desc">赠送金额:</div>
            <input type="number" value="{{rechargeonedata.giftAmount}}"/>
        </div>
 	</div>
 </div>
{% endblock %}
{% block form_submit %}
<div class="btn-box btn-box1 flex-box-center">
	<div class="btn btn1 btn-primary btn-xs" data-id="{{rechargeonedata.id}}" onclick="Trueupdata($(this))">提交</div>
	<div class="btn btn1 btn-default btn-xs" onclick="Closefixed()">取消</div>
</div>
<script>
	//关闭弹窗
    function Closefixed(){  
    	var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
    }
    //确认修改
    function Trueupdata(obj){
    	let data ={
    		id:obj.attr("data-id"),
    		chargeAmount:$("#Onedetailbox").find("input").eq(0).val(),
    		giftAmount:$("#Onedetailbox").find("input").eq(1).val(),
    	}
    	console.log(data)
    	if(data.chargeAmount>0&&data.giftAmount>0){
    	$.ajax({
    		type:"post",
    		url:"updaterecharge",
    		async:true,
    		data:data,
    		success:function(data){
    			if(data.status==0){
    				layer.msg('修改成功');
					var index = parent.layer.getFrameIndex(window.name);
					setTimeout(function(){
						parent.layer.close(index);
						window.parent.location.reload()
						}, 1000);
    			}else{
    				layer.msg(data.msg);
    			}
    		}
    	});
    	}else{
			if(data.chargeAmount==''||data.chargeAmount<0){
				layer.msg('充值金额不能为空或者小于0');
			}else if(data.giftAmount==''||data.giftAmount<0){
				layer.msg('赠送金额不能为空或者小于0');
			}
		}
    }
</script>
{% endblock %}
