{% extends "./base_list.html" %} {% block customTitle_src %}
<div class="ibox-title">
	<h5>分组管理</h5>
</div>
{% endblock %} {% block content_top %}
<div class="flex-box-enter">
	<div>
		<div class="top-search-box">
			<input type="text" placeholder="请输入组别名称" name="groupName" value="{{queryModel.groupName}}" />
			<div class="btn-box" onclick="Searchparme()">
				<i class="glyphicon glyphicon-search" style="padding-right: 5px;"></i>搜索</div>
		</div>
	</div>
</div>

<div class="flex-box-enter">
	<div>&nbsp;</div>
	<div class="top-box">
		{% if Btn['smark/smarkgroup/insert'] %}
		<div class="qcode-box" onclick="Adddetail($(this))">
			<i class="fa fa-plus" style="padding-right: 5px;"></i>新增</div>
		{% endif %}
	</div>
</div>

<script>
	function Adddetail() {
		layer.open({
			type: 2,
			title: '添加组别',
			shadeClose: false,
			shade: 0.8,
			area: ['650px', '750px'],
			content: 'addsmarkgroup' //iframe的url
		});
	}
	function Searchparme() {
		$("#pageNum").val("1");
		document.forms[0].submit();
	}
</script> {% endblock %} {% block search_bt %} {% endblock %} {% block table_th %}
<th>编号</th>
<th>组别名称</th>
<th>所在范围</th>
<th>所属物流</th>
<th>添加时间</th>
<th>操作</th>
{% endblock %} {% block table_body %} {% for item in pageInfo.list %}
<tr class="gradeX">
	<td>
		<input type="checkbox" name="ids" value="{{item.id}}" />
	</td>
	<td>{{item.id}}</td>
	<td>{{item.groupName}}</td>
	<td>{{item.scope}}</td>
	<td>{{item.courierName}}</td>
	<td>{{item.cteateTime}}</td>
	<td>
		{% if Btn['smark/smarkgroup/select'] %}
		<button type="button" class="btn btn-primary btn-xs" data-id="{{item.id}}" onclick="Lookdetail($(this))">
			<i class="fa fa-list" style="padding-right: 5px;"></i>查看</button>
		{% endif %}
	</td>
</tr>
{% endfor %}
<script>
	function Lookdetail(obj) {
		layer.open({
			type: 2,
			title: '查看智能柜分组',
			shadeClose: true,
			shade: 0.8,
			area: ['650px', '750px'],
			content: 'selectone?id=' + obj.attr("data-id") //iframe的url
		});
	}
</script> {% endblock %}