{% extends "./base_toAdd.html" %}
{% block customTitle_src %}
<div class="ibox-title">
	<h5>柜体管理</h5>
</div>
{% endblock %} 
{% block form_top %}
{% endblock %}
{% block form %}
<div class="map-box" id="Map" data-longitude="{{longitude}}" data-latitude="{{latitude}}"></div>
<script>
	$(function(){
		function init() {
			console.log($("#Map").attr("data-longitude"),$("#Map").attr("data-latitude"));
		var  center = new qq.maps.LatLng($("#Map").attr("data-latitude"),$("#Map").attr("data-longitude"));
		var map = new qq.maps.Map(document.getElementById("Map"), {
	        // 地图的中心地理坐标。
	        center: center,
	        zoom:16
	    });
	    //创建marker
	    var marker = new qq.maps.Marker({
	        position: center,
	        map: map
	    });
	  }
		init()
    })
</script>
{% endblock %}
{% block form_submit %}
{% endblock %}
{% block form_scr %}
{% endblock %}
